@import "tailwindcss";

@theme {
  --color-crave-bg: #020617;
  --color-crave-accent: #10b981;
  --color-crave-text: #ffffff;
  --font-sans: var(--font-inter);
}

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  antialiased: true;
}

/* Custom scrollbar hiding */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}