@import "tailwindcss";

@theme {
  --color-luxury-black: #050505;
  --color-luxury-gold: #D4AF37;
  --color-luxury-purple: #2E0249;
  --color-luxury-dark-gray: #0A0A0C;
  --font-sans: var(--font-inter);
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom scrollbar hiding */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}